In [1]:
# Cargamos la librería
import pandas as pd

In [2]:
# Cargamos el fichero
df_clientes = pd.read_csv("clientes.csv", encoding="latin-1", sep=";")
print(df_clientes.dtypes)

ID                      int64
RUT                    object
NOMBRE                 object
FECHA_NAC              object
TIPO_CLIENTE           object
MONTO                   int64
PUNTAJE_CREDITICIO    float64
dtype: object

In [3]:
df_clientes = df_clientes.rename(columns={"FECHA_NAC":"FECHA_NACIMIENTO"})
df_clientes.dtypes

ID                      int64
RUT                    object
NOMBRE                 object
FECHA_NACIMIENTO       object
TIPO_CLIENTE           object
MONTO                   int64
PUNTAJE_CREDITICIO    float64
dtype: object

In [4]:
df_clientes["PUNTAJE_CREDITICIO"] = df_clientes["PUNTAJE_CREDITICIO"].astype("float64")
print(df_clientes.dtypes)

ID                      int64
RUT                    object
NOMBRE                 object
FECHA_NACIMIENTO       object
TIPO_CLIENTE           object
MONTO                   int64
PUNTAJE_CREDITICIO    float64
dtype: object

In [5]:
print(df_clientes.shape)

(1001, 7)

In [6]:
print(df_clientes.size)

7007

In [7]:
print(df_clientes)

        ID           RUT                              NOMBRE FECHA_NACIMIENTO  \
0        0  21.930.631-4            Isabel Blanca Marín Díaz        1997/4/13
1        1  11.269.366-8      Cecilia Paula López Valenzuela        1962/5/28
2        2   9.655.791-3         Vicente Felipe Robles Muñoz         1972/2/2
3        3  16.644.711-4           Daniela María Robles Ruiz         1982/7/7
4        4  17.054.286-6  Isabel Javiera Valenzuela Saavedra         1971/7/5
...    ...           ...                                 ...              ...
996    996  12.568.934-5         Paula Daniela Muñoz Quiroga         1978/9/6
997    997  14.407.999-3          María Valeria Marín Robles        1995/12/0
998    998  20.166.403-3   Ignacio Bernardo López Valenzuela         1962/1/0
999    999  10.715.550-9      Bernardo Pablo Saavedra Castro       1998/11/10
1000  1000  16.396.396-6       Javiera Ignacia Rojas Quiroga        1980/4/11

     TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO
0               C  5407949                1.17
1               A  8153651                2.37
2               E  9509104                9.91
3               B  6065538                2.86
4               C  8024077                0.56
...           ...      ...                 ...
996             B  5052388                6.01
997             B   765834                8.69
998             E  7822257                7.32
999             D  8506664                9.92
1000            C  7853434                0.10

[1001 rows x 7 columns]

In [8]:
df_clientes = df_clientes.set_index("RUT")
print(df_clientes)

                ID                              NOMBRE FECHA_NACIMIENTO  \
RUT
21.930.631-4     0            Isabel Blanca Marín Díaz        1997/4/13
11.269.366-8     1      Cecilia Paula López Valenzuela        1962/5/28
9.655.791-3      2         Vicente Felipe Robles Muñoz         1972/2/2
16.644.711-4     3           Daniela María Robles Ruiz         1982/7/7
17.054.286-6     4  Isabel Javiera Valenzuela Saavedra         1971/7/5
...            ...                                 ...              ...
12.568.934-5   996         Paula Daniela Muñoz Quiroga         1978/9/6
14.407.999-3   997          María Valeria Marín Robles        1995/12/0
20.166.403-3   998   Ignacio Bernardo López Valenzuela         1962/1/0
10.715.550-9   999      Bernardo Pablo Saavedra Castro       1998/11/10
16.396.396-6  1000       Javiera Ignacia Rojas Quiroga        1980/4/11

             TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO
RUT
21.930.631-4            C  5407949                1.17
11.269.366-8            A  8153651                2.37
9.655.791-3             E  9509104                9.91
16.644.711-4            B  6065538                2.86
17.054.286-6            C  8024077                0.56
...                   ...      ...                 ...
12.568.934-5            B  5052388                6.01
14.407.999-3            B   765834                8.69
20.166.403-3            E  7822257                7.32
10.715.550-9            D  8506664                9.92
16.396.396-6            C  7853434                0.10

[1001 rows x 6 columns]

In [9]:
print(df_clientes.head())

              ID                              NOMBRE FECHA_NACIMIENTO  \
RUT
21.930.631-4   0            Isabel Blanca Marín Díaz        1997/4/13
11.269.366-8   1      Cecilia Paula López Valenzuela        1962/5/28
9.655.791-3    2         Vicente Felipe Robles Muñoz         1972/2/2
16.644.711-4   3           Daniela María Robles Ruiz         1982/7/7
17.054.286-6   4  Isabel Javiera Valenzuela Saavedra         1971/7/5

             TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO
RUT
21.930.631-4            C  5407949                1.17
11.269.366-8            A  8153651                2.37
9.655.791-3             E  9509104                9.91
16.644.711-4            B  6065538                2.86
17.054.286-6            C  8024077                0.56

In [10]:
print(df_clientes.tail())

                ID                             NOMBRE FECHA_NACIMIENTO  \
RUT
12.568.934-5   996        Paula Daniela Muñoz Quiroga         1978/9/6
14.407.999-3   997         María Valeria Marín Robles        1995/12/0
20.166.403-3   998  Ignacio Bernardo López Valenzuela         1962/1/0
10.715.550-9   999     Bernardo Pablo Saavedra Castro       1998/11/10
16.396.396-6  1000      Javiera Ignacia Rojas Quiroga        1980/4/11

             TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO
RUT
12.568.934-5            B  5052388                6.01
14.407.999-3            B   765834                8.69
20.166.403-3            E  7822257                7.32
10.715.550-9            D  8506664                9.92
16.396.396-6            C  7853434                0.10

In [11]:
print(df_clientes.loc["20.166.403-3"])

ID                                                  998
NOMBRE                Ignacio Bernardo López Valenzuela
FECHA_NACIMIENTO                               1962/1/0
TIPO_CLIENTE                                          E
MONTO                                           7822257
PUNTAJE_CREDITICIO                                 7.32
Name: 20.166.403-3, dtype: object

In [12]:
print(df_clientes)

                ID                              NOMBRE FECHA_NACIMIENTO  \
RUT
21.930.631-4     0            Isabel Blanca Marín Díaz        1997/4/13
11.269.366-8     1      Cecilia Paula López Valenzuela        1962/5/28
9.655.791-3      2         Vicente Felipe Robles Muñoz         1972/2/2
16.644.711-4     3           Daniela María Robles Ruiz         1982/7/7
17.054.286-6     4  Isabel Javiera Valenzuela Saavedra         1971/7/5
...            ...                                 ...              ...
12.568.934-5   996         Paula Daniela Muñoz Quiroga         1978/9/6
14.407.999-3   997          María Valeria Marín Robles        1995/12/0
20.166.403-3   998   Ignacio Bernardo López Valenzuela         1962/1/0
10.715.550-9   999      Bernardo Pablo Saavedra Castro       1998/11/10
16.396.396-6  1000       Javiera Ignacia Rojas Quiroga        1980/4/11

             TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO
RUT
21.930.631-4            C  5407949                1.17
11.269.366-8            A  8153651                2.37
9.655.791-3             E  9509104                9.91
16.644.711-4            B  6065538                2.86
17.054.286-6            C  8024077                0.56
...                   ...      ...                 ...
12.568.934-5            B  5052388                6.01
14.407.999-3            B   765834                8.69
20.166.403-3            E  7822257                7.32
10.715.550-9            D  8506664                9.92
16.396.396-6            C  7853434                0.10

[1001 rows x 6 columns]

In [13]:
print(df_clientes.loc[df_clientes["TIPO_CLIENTE"] == "C"])

                ID                              NOMBRE FECHA_NACIMIENTO  \
RUT
21.930.631-4     0            Isabel Blanca Marín Díaz        1997/4/13
17.054.286-6     4  Isabel Javiera Valenzuela Saavedra         1971/7/5
11.170.160-6     5       Vicente Vicente Marín Vergara        1971/7/11
6.172.108-0      6        Pamela Isabel Castro Vergara        1976/5/11
15.844.106-2     7     Daniela Pamela Saavedra Vergara        1979/6/14
...            ...                                 ...              ...
11.528.775-7   968      Ignacia Ignacia Vergara Robles         1963/5/1
20.453.595-9   979       María Ignacia Rojas Rodríguez        1970/10/8
10.892.212-9   982  Isidora Valeria González Rodríguez        1996/7/13
10.667.321-1   983    Pedro Ramón Valenzuela Rodríguez        1966/2/11
16.396.396-6  1000       Javiera Ignacia Rojas Quiroga        1980/4/11

             TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO
RUT
21.930.631-4            C  5407949                1.17
17.054.286-6            C  8024077                0.56
11.170.160-6            C  4056141                5.98
6.172.108-0             C  3061858                3.09
15.844.106-2            C  5197540                2.26
...                   ...      ...                 ...
11.528.775-7            C  2926326                5.66
20.453.595-9            C  3440575                9.35
10.892.212-9            C   675982                9.93
10.667.321-1            C  3912129                2.53
16.396.396-6            C  7853434                0.10

[213 rows x 6 columns]

In [14]:
print(df_clientes.iloc[5])

ID                                                5
NOMBRE                Vicente Vicente Marín Vergara
FECHA_NACIMIENTO                          1971/7/11
TIPO_CLIENTE                                      C
MONTO                                       4056141
PUNTAJE_CREDITICIO                             5.98
Name: 11.170.160-6, dtype: object

In [15]:
print(df_clientes.iloc[5:9])

              ID                              NOMBRE FECHA_NACIMIENTO  \
RUT
11.170.160-6   5       Vicente Vicente Marín Vergara        1971/7/11
6.172.108-0    6        Pamela Isabel Castro Vergara        1976/5/11
15.844.106-2   7     Daniela Pamela Saavedra Vergara        1979/6/14
20.749.832-5   8  Felipe Andrés Rodríguez Valenzuela         1973/2/9

             TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO
RUT
11.170.160-6            C  4056141                5.98
6.172.108-0             C  3061858                3.09
15.844.106-2            C  5197540                2.26
20.749.832-5            E  4441737                8.18

In [16]:
df_clientes = df_clientes.fillna("SIN_INFO")

In [17]:
df_clientes2 = pd.read_csv("clientes2.csv", encoding="latin-1", sep=";")
df_clientes = df_clientes.append(df_clientes2)
df_clientes = df_clientes.fillna("SIN_INFO")
print(df_clientes)

                    ID                                NOMBRE FECHA_NACIMIENTO  \
21.930.631-4       0.0              Isabel Blanca Marín Díaz        1997/4/13
11.269.366-8       1.0        Cecilia Paula López Valenzuela        1962/5/28
9.655.791-3        2.0           Vicente Felipe Robles Muñoz         1972/2/2
16.644.711-4       3.0             Daniela María Robles Ruiz         1982/7/7
17.054.286-6       4.0    Isabel Javiera Valenzuela Saavedra         1971/7/5
...                ...                                   ...              ...
14            SIN_INFO          Andrés Francisco López López         SIN_INFO
15            SIN_INFO  Rodrigo Andrés Valenzuela Valenzuela         SIN_INFO
16            SIN_INFO          Andrés Felipe Quiroga Robles         SIN_INFO
17            SIN_INFO         Gabriel Vicente Castro Robles         SIN_INFO
18            SIN_INFO        Felipe Andrés Robles Rodríguez         SIN_INFO

             TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO            RUT  \
21.930.631-4            C  5407949                1.17       SIN_INFO
11.269.366-8            A  8153651                2.37       SIN_INFO
9.655.791-3             E  9509104                9.91       SIN_INFO
16.644.711-4            B  6065538                2.86       SIN_INFO
17.054.286-6            C  8024077                0.56       SIN_INFO
...                   ...      ...                 ...            ...
14                      E  6285039                4.68  20.481.183-10
15                      B   668186                9.84    6.355.671-0
16                      E  7790975                0.91    5.814.759-5
17                      B  3156647                7.26  15.452.563-10
18                      E  7976926                9.06    8.471.223-1

             FECHA_NAC
21.930.631-4  SIN_INFO
11.269.366-8  SIN_INFO
9.655.791-3   SIN_INFO
16.644.711-4  SIN_INFO
17.054.286-6  SIN_INFO
...                ...
14            27-07-77
15            01-10-70
16            17-07-90
17            11-06-85
18            06-05-70

[1020 rows x 8 columns]

In [18]:
df_clientes = df_clientes.drop(df_clientes.iloc[0:10].index)

In [19]:
print(df_clientes)

                     ID                                NOMBRE  \
9.487.844-9        10.0             Javier Juan Castro Campos
7.271.618-0        11.0   Isidora Andrea Rodríguez Valenzuela
13.674.785-2       12.0             Javier Juan Robles Robles
17.452.036-6       13.0          Ramón Vicente Vergara Robles
20.481.183-10      14.0          Andrés Francisco López López
...                 ...                                   ...
14             SIN_INFO          Andrés Francisco López López
15             SIN_INFO  Rodrigo Andrés Valenzuela Valenzuela
16             SIN_INFO          Andrés Felipe Quiroga Robles
17             SIN_INFO         Gabriel Vicente Castro Robles
18             SIN_INFO        Felipe Andrés Robles Rodríguez

              FECHA_NACIMIENTO TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO  \
9.487.844-9           1985/3/0            B  8030691                2.70
7.271.618-0          1976/9/29            B  5832527                8.08
13.674.785-2         1973/7/23            A   469341                2.81
17.452.036-6         1997/7/16            E  8845556                5.90
20.481.183-10        1977/7/27            E  6285039                4.68
...                        ...          ...      ...                 ...
14                    SIN_INFO            E  6285039                4.68
15                    SIN_INFO            B   668186                9.84
16                    SIN_INFO            E  7790975                0.91
17                    SIN_INFO            B  3156647                7.26
18                    SIN_INFO            E  7976926                9.06

                         RUT FECHA_NAC
9.487.844-9         SIN_INFO  SIN_INFO
7.271.618-0         SIN_INFO  SIN_INFO
13.674.785-2        SIN_INFO  SIN_INFO
17.452.036-6        SIN_INFO  SIN_INFO
20.481.183-10       SIN_INFO  SIN_INFO
...                      ...       ...
14             20.481.183-10  27-07-77
15               6.355.671-0  01-10-70
16               5.814.759-5  17-07-90
17             15.452.563-10  11-06-85
18               8.471.223-1  06-05-70

[1010 rows x 8 columns]