In [1]:
# Importamos la librería Pandas y la renombramos como pd
import pandas as pd

In [2]:
# Generamos el Data Frame a través del archivo CSV
df_pacientes = pd.read_csv("datos_pacientes.csv", encoding="utf-8", sep=";")
# Mostramos las columnas
print(df_pacientes.columns)

Index(['RUT', 'Nombre', 'Genero', 'Fecha_Nacimiento', 'Previsión',
       'Monto_Deuda'],
      dtype='object')

In [3]:
# Mostramos la información de las columnas
print(df_pacientes)

              RUT                                 Nombre     Genero  \
0    16.302.272-9             Andrea Javiera Robles Díaz   FEMENINO
1      5.03.060-9            Daniela Victoria Ruiz López   FEMENINO
2    12.074.719-9          Francisco Felipe Castro Rojas  MASCULINO
3    19.121.201-0          Cecilia Valeria Díaz González   FEMENINO
4    20.348.342-8        Pablo Vicente Valenzuela Campos  MASCULINO
..            ...                                    ...        ...
995  13.780.496-8  Ramón Francisco Valenzuela Valenzuela  MASCULINO
996   6.509.713-1              Isidora María Castro Díaz   FEMENINO
997  10.782.816-5         Pablo Bernardo Marín Rodríguez  MASCULINO
998   8.047.856-4           Isidora Ignacia Díaz Vergara   FEMENINO
999  20.312.199-4    Francisco Gabriel González González  MASCULINO

    Fecha_Nacimiento Previsión  Monto_Deuda
0          1971/7/11    FONASA      1871093
1          1970/7/23    FONASA       793322
2          1966/2/22    FONASA       320538
3          1998/4/15    FONASA       469335
4          1978/1/15    ISAPRE       759052
..               ...       ...          ...
995       1996/10/12    ISAPRE      1228834
996        1993/3/16    ISAPRE       805084
997        1962/3/19    FONASA      1273143
998       1992/11/13    ISAPRE       141725
999        1981/7/13    ISAPRE      1251681

[1000 rows x 6 columns]

In [4]:
# Mostramos información de la columna "Monto_Deuda"
print(df_pacientes["Monto_Deuda"])

0      1871093
1       793322
2       320538
3       469335
4       759052
        ...
995    1228834
996     805084
997    1273143
998     141725
999    1251681
Name: Monto_Deuda, Length: 1000, dtype: int64

In [5]:
# Mostramos fila N°651
print(df_pacientes.loc[651])

RUT                                  4.464.429-4
Nombre              Javiera Daniela Vergara Díaz
Genero                                  FEMENINO
Fecha_Nacimiento                       1976/6/25
Previsión                                 ISAPRE
Monto_Deuda                               191000
Name: 651, dtype: object

In [6]:
# Mostramos las filas desde el N°100 al N°200.
# Luego estas filas pero solo por columna "RUT" y "Nombre"
print(df_pacientes.loc[100:200])
print(df_pacientes.loc[100:200]["RUT"])
print(df_pacientes.loc[100:200]["Nombre"])

              RUT                             Nombre     Genero  \
100   14.014.09-9          Gabriel Felipe Díaz Marín  MASCULINO
101  18.444.222-7    Francisco Bernardo Muñoz Castro  MASCULINO
102  13.716.907-0     Juan Vicente Rodríguez Quiroga  MASCULINO
103  17.734.624-0       Francisco Javier Marín Muñoz  MASCULINO
104  19.186.540-6   Rodrigo Rodrigo Rodríguez Campos  MASCULINO
..            ...                                ...        ...
196  16.380.161-1        Juan Rodrigo González Muñoz  MASCULINO
197   9.953.059-5      Ignacia Ignacia Rojas Quiroga   FEMENINO
198  14.647.763-3        María Paula Díaz Valenzuela   FEMENINO
199  17.487.655-5  Rodrigo Javier Quiroga Valenzuela  MASCULINO
200  10.325.279-4      Pamela Constanza Castro Muñoz   FEMENINO

    Fecha_Nacimiento Previsión  Monto_Deuda
100       1976/12/10    FONASA       568839
101         1988/7/8    ISAPRE       978748
102         1972/1/5    FONASA       943929
103        1979/8/29    FONASA       749244
104        1992/8/10    FONASA      1710802
..               ...       ...          ...
196        1965/2/19    FONASA      1601812
197        1970/9/16    FONASA      1095891
198       1977/11/29    FONASA      1812370
199        1975/5/16    FONASA       996228
200         1969/9/0    ISAPRE      1146271

[101 rows x 6 columns]
100     14.014.09-9
101    18.444.222-7
102    13.716.907-0
103    17.734.624-0
104    19.186.540-6
           ...
196    16.380.161-1
197     9.953.059-5
198    14.647.763-3
199    17.487.655-5
200    10.325.279-4
Name: RUT, Length: 101, dtype: object
100            Gabriel Felipe Díaz Marín
101      Francisco Bernardo Muñoz Castro
102       Juan Vicente Rodríguez Quiroga
103         Francisco Javier Marín Muñoz
104     Rodrigo Rodrigo Rodríguez Campos
                     ...
196          Juan Rodrigo González Muñoz
197        Ignacia Ignacia Rojas Quiroga
198          María Paula Díaz Valenzuela
199    Rodrigo Javier Quiroga Valenzuela
200        Pamela Constanza Castro Muñoz
Name: Nombre, Length: 101, dtype: object

In [7]:
# Los pacientes que tienen previsión FONASA
print(df_pacientes.loc[df_pacientes["Previsión"] == "FONASA"])

              RUT                               Nombre     Genero  \
0    16.302.272-9           Andrea Javiera Robles Díaz   FEMENINO
1      5.03.060-9          Daniela Victoria Ruiz López   FEMENINO
2    12.074.719-9        Francisco Felipe Castro Rojas  MASCULINO
3    19.121.201-0        Cecilia Valeria Díaz González   FEMENINO
5    14.647.075-5            María Isabel López Campos   FEMENINO
..            ...                                  ...        ...
991  16.652.447-7        Isidora Pamela Rodríguez Díaz   FEMENINO
992  11.087.707-2  Constanza Isabel Valenzuela Quiroga   FEMENINO
993   4.015.647-9          Ramón Rodrigo Quiroga Rojas  MASCULINO
994   8.016.974-7          Andrea Ignacia Ruiz Quiroga   FEMENINO
997  10.782.816-5       Pablo Bernardo Marín Rodríguez  MASCULINO

    Fecha_Nacimiento Previsión  Monto_Deuda
0          1971/7/11    FONASA      1871093
1          1970/7/23    FONASA       793322
2          1966/2/22    FONASA       320538
3          1998/4/15    FONASA       469335
5          1964/7/18    FONASA       271343
..               ...       ...          ...
991       1969/10/13    FONASA       769840
992         1974/4/8    FONASA      1626593
993       1998/12/20    FONASA      1669076
994        1985/7/26    FONASA      1034949
997        1962/3/19    FONASA      1273143

[701 rows x 6 columns]

In [8]:
# Pacientes que tienen un monto adeudado mayor a $1.000.000
df_pacientes.loc[df_pacientes["Monto_Deuda"] > 1000000]

,RUT,Nombre,Genero,Fecha_Nacimiento,Previsión,Monto_Deuda
0,16.302.272-9,Andrea Javiera Robles Díaz,FEMENINO,1971/7/11,FONASA,1871093
7,13.350.486-8,Pedro Bernardo Muñoz Vergara,MASCULINO,1990/5/12,FONASA,1130031
8,14.086.677-4,Pedro Juan Saavedra Quiroga,MASCULINO,1989/9/28,FONASA,1707784
9,6.111.964-8,Daniela Paula Valenzuela López,FEMENINO,2000/11/6,FONASA,1795495
11,13.880.857-6,Juan Gabriel Campos Vergara,MASCULINO,1966/6/30,FONASA,1717168
...,...,...,...,...,...,...
993,4.015.647-9,Ramón Rodrigo Quiroga Rojas,MASCULINO,1998/12/20,FONASA,1669076
994,8.016.974-7,Andrea Ignacia Ruiz Quiroga,FEMENINO,1985/7/26,FONASA,1034949
995,13.780.496-8,Ramón Francisco Valenzuela Valenzuela,MASCULINO,1996/10/12,ISAPRE,1228834
997,10.782.816-5,Pablo Bernardo Marín Rodríguez,MASCULINO,1962/3/19,FONASA,1273143
999,20.312.199-4,Francisco Gabriel González González,MASCULINO,1981/7/13,ISAPRE,1251681

In [9]:
# Agregamos columna nacionalidad y la llenamos de "Chile"
df_pacientes["Nacionalidad"] = "Chile"
print(df_pacientes["Nacionalidad"])

0      Chile
1      Chile
2      Chile
3      Chile
4      Chile
       ...
995    Chile
996    Chile
997    Chile
998    Chile
999    Chile
Name: Nacionalidad, Length: 1000, dtype: object

In [10]:
# Actualizar la deuda en un 3%
df_pacientes["Monto_Deuda"] = df_pacientes["Monto_Deuda"] * 1.03
print(df_pacientes)

              RUT                                 Nombre     Genero  \
0    16.302.272-9             Andrea Javiera Robles Díaz   FEMENINO
1      5.03.060-9            Daniela Victoria Ruiz López   FEMENINO
2    12.074.719-9          Francisco Felipe Castro Rojas  MASCULINO
3    19.121.201-0          Cecilia Valeria Díaz González   FEMENINO
4    20.348.342-8        Pablo Vicente Valenzuela Campos  MASCULINO
..            ...                                    ...        ...
995  13.780.496-8  Ramón Francisco Valenzuela Valenzuela  MASCULINO
996   6.509.713-1              Isidora María Castro Díaz   FEMENINO
997  10.782.816-5         Pablo Bernardo Marín Rodríguez  MASCULINO
998   8.047.856-4           Isidora Ignacia Díaz Vergara   FEMENINO
999  20.312.199-4    Francisco Gabriel González González  MASCULINO

    Fecha_Nacimiento Previsión  Monto_Deuda Nacionalidad
0          1971/7/11    FONASA   1927225.79        Chile
1          1970/7/23    FONASA    817121.66        Chile
2          1966/2/22    FONASA    330154.14        Chile
3          1998/4/15    FONASA    483415.05        Chile
4          1978/1/15    ISAPRE    781823.56        Chile
..               ...       ...          ...          ...
995       1996/10/12    ISAPRE   1265699.02        Chile
996        1993/3/16    ISAPRE    829236.52        Chile
997        1962/3/19    FONASA   1311337.29        Chile
998       1992/11/13    ISAPRE    145976.75        Chile
999        1981/7/13    ISAPRE   1289231.43        Chile

[1000 rows x 7 columns]

In [11]:
# Eliminar columna Nacionalidad
del df_pacientes["Nacionalidad"]
print(df_pacientes)

              RUT                                 Nombre     Genero  \
0    16.302.272-9             Andrea Javiera Robles Díaz   FEMENINO
1      5.03.060-9            Daniela Victoria Ruiz López   FEMENINO
2    12.074.719-9          Francisco Felipe Castro Rojas  MASCULINO
3    19.121.201-0          Cecilia Valeria Díaz González   FEMENINO
4    20.348.342-8        Pablo Vicente Valenzuela Campos  MASCULINO
..            ...                                    ...        ...
995  13.780.496-8  Ramón Francisco Valenzuela Valenzuela  MASCULINO
996   6.509.713-1              Isidora María Castro Díaz   FEMENINO
997  10.782.816-5         Pablo Bernardo Marín Rodríguez  MASCULINO
998   8.047.856-4           Isidora Ignacia Díaz Vergara   FEMENINO
999  20.312.199-4    Francisco Gabriel González González  MASCULINO

    Fecha_Nacimiento Previsión  Monto_Deuda
0          1971/7/11    FONASA   1927225.79
1          1970/7/23    FONASA    817121.66
2          1966/2/22    FONASA    330154.14
3          1998/4/15    FONASA    483415.05
4          1978/1/15    ISAPRE    781823.56
..               ...       ...          ...
995       1996/10/12    ISAPRE   1265699.02
996        1993/3/16    ISAPRE    829236.52
997        1962/3/19    FONASA   1311337.29
998       1992/11/13    ISAPRE    145976.75
999        1981/7/13    ISAPRE   1289231.43

[1000 rows x 6 columns]

In [12]:
# Estadisticas
df_pacientes.describe()

        Monto_Deuda
count  1.000000e+03
mean   1.115393e+06
std    5.742349e+05
min    1.091779e+05
25%    6.131410e+05
50%    1.141549e+06
75%    1.623918e+06
max    2.059872e+06

In [13]:
# Guardamos los cambios
df_pacientes.to_csv("datos_pacientes_reajustado.csv", sep=";", index=False)