In [2]:
import pandas as pd
df = pd.read_csv("clientes.csv", encoding="latin-1", sep=";")
print(df)

        ID           RUT                              NOMBRE   FECHA_NAC  \
0        0  21.930.631-4            Isabel Blanca Marín Díaz   1997/4/13
1        1  11.269.366-8      Cecilia Paula López Valenzuela   1962/5/28
2        2   9.655.791-3         Vicente Felipe Robles Muñoz    1972/2/2
3        3  16.644.711-4           Daniela María Robles Ruiz    1982/7/7
4        4  17.054.286-6  Isabel Javiera Valenzuela Saavedra    1971/7/5
...    ...           ...                                 ...         ...
996    996  12.568.934-5         Paula Daniela Muñoz Quiroga    1978/9/6
997    997  14.407.999-3          María Valeria Marín Robles   1995/12/0
998    998  20.166.403-3   Ignacio Bernardo López Valenzuela    1962/1/0
999    999  10.715.550-9      Bernardo Pablo Saavedra Castro  1998/11/10
1000  1000  16.396.396-6       Javiera Ignacia Rojas Quiroga   1980/4/11

     TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO
0               C  5407949                1.17
1               A  8153651                2.37
2               E  9509104                9.91
3               B  6065538                2.86
4               C  8024077                0.56
...           ...      ...                 ...
996             B  5052388                6.01
997             B   765834                8.69
998             E  7822257                7.32
999             D  8506664                9.92
1000            C  7853434                0.10

[1001 rows x 7 columns]

In [3]:
print(df.dtypes)

ID                      int64
RUT                    object
NOMBRE                 object
FECHA_NAC              object
TIPO_CLIENTE           object
MONTO                   int64
PUNTAJE_CREDITICIO    float64
dtype: object

In [4]:
print(df["RUT"])

0       21.930.631-4
1       11.269.366-8
2        9.655.791-3
3       16.644.711-4
4       17.054.286-6
            ...
996     12.568.934-5
997     14.407.999-3
998     20.166.403-3
999     10.715.550-9
1000    16.396.396-6
Name: RUT, Length: 1001, dtype: object

In [5]:
print(df.loc[658])

ID                                             658
RUT                                   15.991.075-4
NOMBRE                María Daniela Saavedra Marín
FECHA_NAC                                1992/5/21
TIPO_CLIENTE                                     C
MONTO                                       874300
PUNTAJE_CREDITICIO                            1.66
Name: 658, dtype: object

In [6]:
print(df.loc[100:105])

      ID           RUT                              NOMBRE   FECHA_NAC  \
100  100   8.489.240-5           Felipe Andrés Muñoz Rojas   1980/9/10
101  101  11.615.086-5    Ramón Gabriel Saavedra Rodríguez   1977/5/29
102  102  12.061.292-0  María Isidora Valenzuela Rodríguez    1980/3/5
103  103  13.381.106-8         Vicente Juan Marín Saavedra   1969/4/19
104  104  12.866.411-7    Valeria Pamela Saavedra Saavedra  1991/10/28
105  105  8.929.258-10   Andrés Ramón Rodríguez Valenzuela   1961/9/27

    TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO
100            E  1361720                0.14
101            B  5680734                8.39
102            D  3130145                0.98
103            C  3307564                0.62
104            E  6225013                6.77
105            E  1368881                7.42

In [7]:
print(df.loc[658]["FECHA_NAC"])

1992/5/21

In [9]:
print(df.loc[df["TIPO_CLIENTE"] == "E"])

      ID            RUT                               NOMBRE  FECHA_NAC  \
2      2    9.655.791-3          Vicente Felipe Robles Muñoz   1972/2/2
8      8   20.749.832-5   Felipe Andrés Rodríguez Valenzuela   1973/2/9
13    13   17.452.036-6         Ramón Vicente Vergara Robles  1997/7/16
14    14  20.481.183-10         Andrés Francisco López López  1977/7/27
16    16    5.814.759-5         Andrés Felipe Quiroga Robles  1990/7/17
..   ...            ...                                  ...        ...
989  989   15.116.681-1       Vicente Pedro Rodríguez Campos  1966/4/17
992  992    7.184.479-2         Isidora Paula Vergara Robles  1984/10/8
993  993   10.302.602-4  Javiera Cecilia Saavedra Valenzuela   1973/6/7
995  995   11.942.539-4      Isidora Javiera López Rodríguez   1977/1/5
998  998   20.166.403-3    Ignacio Bernardo López Valenzuela   1962/1/0

    TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO
2              E  9509104                9.91
8              E  4441737                8.18
13             E  8845556                5.90
14             E  6285039                4.68
16             E  7790975                0.91
..           ...      ...                 ...
989            E  1472637                1.39
992            E  3174100                1.92
993            E  2068637                6.30
995            E  2949763                1.17
998            E  7822257                7.32

[193 rows x 7 columns]

In [11]:
print(df.loc[df["MONTO"] > 100000])

        ID           RUT                              NOMBRE   FECHA_NAC  \
0        0  21.930.631-4            Isabel Blanca Marín Díaz   1997/4/13
1        1  11.269.366-8      Cecilia Paula López Valenzuela   1962/5/28
2        2   9.655.791-3         Vicente Felipe Robles Muñoz    1972/2/2
3        3  16.644.711-4           Daniela María Robles Ruiz    1982/7/7
4        4  17.054.286-6  Isabel Javiera Valenzuela Saavedra    1971/7/5
...    ...           ...                                 ...         ...
996    996  12.568.934-5         Paula Daniela Muñoz Quiroga    1978/9/6
997    997  14.407.999-3          María Valeria Marín Robles   1995/12/0
998    998  20.166.403-3   Ignacio Bernardo López Valenzuela    1962/1/0
999    999  10.715.550-9      Bernardo Pablo Saavedra Castro  1998/11/10
1000  1000  16.396.396-6       Javiera Ignacia Rojas Quiroga   1980/4/11

     TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO
0               C  5407949                1.17
1               A  8153651                2.37
2               E  9509104                9.91
3               B  6065538                2.86
4               C  8024077                0.56
...           ...      ...                 ...
996             B  5052388                6.01
997             B   765834                8.69
998             E  7822257                7.32
999             D  8506664                9.92
1000            C  7853434                0.10

[993 rows x 7 columns]

In [12]:
print(df.loc[df["PUNTAJE_CREDITICIO"] <= 8.0])

        ID            RUT                              NOMBRE  FECHA_NAC  \
0        0   21.930.631-4            Isabel Blanca Marín Díaz  1997/4/13
1        1   11.269.366-8      Cecilia Paula López Valenzuela  1962/5/28
3        3   16.644.711-4           Daniela María Robles Ruiz   1982/7/7
4        4   17.054.286-6  Isabel Javiera Valenzuela Saavedra   1971/7/5
5        5   11.170.160-6       Vicente Vicente Marín Vergara  1971/7/11
...    ...            ...                                 ...        ...
994    994  21.307.599-10      Andrea Constanza Castro Robles  1992/7/10
995    995   11.942.539-4     Isidora Javiera López Rodríguez   1977/1/5
996    996   12.568.934-5         Paula Daniela Muñoz Quiroga   1978/9/6
998    998   20.166.403-3   Ignacio Bernardo López Valenzuela   1962/1/0
1000  1000   16.396.396-6       Javiera Ignacia Rojas Quiroga  1980/4/11

     TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO
0               C  5407949                1.17
1               A  8153651                2.37
3               B  6065538                2.86
4               C  8024077                0.56
5               C  4056141                5.98
...           ...      ...                 ...
994             D  9277469                2.31
995             E  2949763                1.17
996             B  5052388                6.01
998             E  7822257                7.32
1000            C  7853434                0.10

[796 rows x 7 columns]

In [14]:
df["NACIONALIDAD"] = "CHILE"
print(df)

        ID           RUT                              NOMBRE   FECHA_NAC  \
0        0  21.930.631-4            Isabel Blanca Marín Díaz   1997/4/13
1        1  11.269.366-8      Cecilia Paula López Valenzuela   1962/5/28
2        2   9.655.791-3         Vicente Felipe Robles Muñoz    1972/2/2
3        3  16.644.711-4           Daniela María Robles Ruiz    1982/7/7
4        4  17.054.286-6  Isabel Javiera Valenzuela Saavedra    1971/7/5
...    ...           ...                                 ...         ...
996    996  12.568.934-5         Paula Daniela Muñoz Quiroga    1978/9/6
997    997  14.407.999-3          María Valeria Marín Robles   1995/12/0
998    998  20.166.403-3   Ignacio Bernardo López Valenzuela    1962/1/0
999    999  10.715.550-9      Bernardo Pablo Saavedra Castro  1998/11/10
1000  1000  16.396.396-6       Javiera Ignacia Rojas Quiroga   1980/4/11

     TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO NACIONALIDAD
0               C  5407949                1.17        CHILE
1               A  8153651                2.37        CHILE
2               E  9509104                9.91        CHILE
3               B  6065538                2.86        CHILE
4               C  8024077                0.56        CHILE
...           ...      ...                 ...          ...
996             B  5052388                6.01        CHILE
997             B   765834                8.69        CHILE
998             E  7822257                7.32        CHILE
999             D  8506664                9.92        CHILE
1000            C  7853434                0.10        CHILE

[1001 rows x 8 columns]

In [16]:
df["BONO"] = df["MONTO"] / df["PUNTAJE_CREDITICIO"]
print(df)

        ID           RUT                              NOMBRE   FECHA_NAC  \
0        0  21.930.631-4            Isabel Blanca Marín Díaz   1997/4/13
1        1  11.269.366-8      Cecilia Paula López Valenzuela   1962/5/28
2        2   9.655.791-3         Vicente Felipe Robles Muñoz    1972/2/2
3        3  16.644.711-4           Daniela María Robles Ruiz    1982/7/7
4        4  17.054.286-6  Isabel Javiera Valenzuela Saavedra    1971/7/5
...    ...           ...                                 ...         ...
996    996  12.568.934-5         Paula Daniela Muñoz Quiroga    1978/9/6
997    997  14.407.999-3          María Valeria Marín Robles   1995/12/0
998    998  20.166.403-3   Ignacio Bernardo López Valenzuela    1962/1/0
999    999  10.715.550-9      Bernardo Pablo Saavedra Castro  1998/11/10
1000  1000  16.396.396-6       Javiera Ignacia Rojas Quiroga   1980/4/11

     TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO NACIONALIDAD          BONO
0               C  5407949                1.17        CHILE  4.622179e+06
1               A  8153651                2.37        CHILE  3.440359e+06
2               E  9509104                9.91        CHILE  9.595463e+05
3               B  6065538                2.86        CHILE  2.120817e+06
4               C  8024077                0.56        CHILE  1.432871e+07
...           ...      ...                 ...          ...           ...
996             B  5052388                6.01        CHILE  8.406636e+05
997             B   765834                8.69        CHILE  8.812819e+04
998             E  7822257                7.32        CHILE  1.068614e+06
999             D  8506664                9.92        CHILE  8.575266e+05
1000            C  7853434                0.10        CHILE  7.853434e+07

[1001 rows x 9 columns]

In [17]:
del df["NACIONALIDAD"]
print(df)

        ID           RUT                              NOMBRE   FECHA_NAC  \
0        0  21.930.631-4            Isabel Blanca Marín Díaz   1997/4/13
1        1  11.269.366-8      Cecilia Paula López Valenzuela   1962/5/28
2        2   9.655.791-3         Vicente Felipe Robles Muñoz    1972/2/2
3        3  16.644.711-4           Daniela María Robles Ruiz    1982/7/7
4        4  17.054.286-6  Isabel Javiera Valenzuela Saavedra    1971/7/5
...    ...           ...                                 ...         ...
996    996  12.568.934-5         Paula Daniela Muñoz Quiroga    1978/9/6
997    997  14.407.999-3          María Valeria Marín Robles   1995/12/0
998    998  20.166.403-3   Ignacio Bernardo López Valenzuela    1962/1/0
999    999  10.715.550-9      Bernardo Pablo Saavedra Castro  1998/11/10
1000  1000  16.396.396-6       Javiera Ignacia Rojas Quiroga   1980/4/11

     TIPO_CLIENTE    MONTO  PUNTAJE_CREDITICIO          BONO
0               C  5407949                1.17  4.622179e+06
1               A  8153651                2.37  3.440359e+06
2               E  9509104                9.91  9.595463e+05
3               B  6065538                2.86  2.120817e+06
4               C  8024077                0.56  1.432871e+07
...           ...      ...                 ...           ...
996             B  5052388                6.01  8.406636e+05
997             B   765834                8.69  8.812819e+04
998             E  7822257                7.32  1.068614e+06
999             D  8506664                9.92  8.575266e+05
1000            C  7853434                0.10  7.853434e+07

[1001 rows x 8 columns]

In [18]:
print(df.describe())

                ID         MONTO  PUNTAJE_CREDITICIO          BONO
count  1001.000000  1.001000e+03         1001.000000  1.001000e+03
mean    500.000000  4.863262e+06            5.073077           inf
std     289.108111  2.864435e+06            2.872472           NaN
min       0.000000  1.055300e+04            0.000000  3.452405e+03
25%     250.000000  2.435418e+06            2.630000  4.546002e+05
50%     500.000000  4.781938e+06            5.130000  9.830709e+05
75%     750.000000  7.402329e+06            7.560000  1.866841e+06
max    1000.000000  9.998301e+06            9.990000           inf

In [19]:
df.to_csv("cliente_modificado.csv", sep=";", index=False)